.wrapper {
    display: flex;
    justify-content: flex-start;
}

.left {
    padding: 10px;

}

.right {
    padding: 10px;
}

.footer {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: .7rem;
}

p {
    margin-top: 1rem;
}

table {
    width: 100%;
    margin-bottom: 1rem;
}