<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Каталог</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/ski">Горные лыжи</a>
      <a mat-list-item routerLink="/boots">Горнолыжные ботинки</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <a routerLink="/start-page"><img src="/assets/images/landscape.svg"></a>
      <span>ICEPEAK Товары для активного отдыха</span>
      <div class="right-corner">
        <button *ngIf="isAnon" mat-flat-button color="primary" routerLink="/login" class="user">
          <mat-icon>personal_account</mat-icon><span>Вход</span>
        </button>
        <button *ngIf="!isAnon" mat-flat-button color="primary"  [matMenuTriggerFor]="menu" class="user">
          <mat-icon>personal_account</mat-icon>{{fullName}}
          <mat-menu #menu="matMenu" xPosition="before">
            <button *ngIf="isManager" mat-menu-item routerLink="/work-area/orders">
              <mat-icon>shop</mat-icon><span>Обработка заказов</span>
            </button> 
            <button *ngIf="isManager" mat-menu-item routerLink="/work-area/warehouse">
              <mat-icon>warehouse</mat-icon><span>Склад</span>
            </button> 
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon><span>Выход</span>
            </button>         
          </mat-menu>
        </button>
        <button mat-flat-button color="accent" routerLink="/shopping-cart" class="shopping-cart">
          <mat-icon>shopping_cart</mat-icon>{{getCartItemCount()}}
        </button>
      </div>
    </mat-toolbar>
    
    
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>