<div class="grid-container">
  <h1 class="mat-h1">Категория: {{title}}</h1>
  <div class="search-panel mat-elevation-z8">
    <mat-form-field>
      <mat-label>Производитель</mat-label>
      <mat-select (selectionChange)="filter('vendor', $event.value)">
        <mat-option></mat-option>
        <mat-option *ngFor="let vendor of vendors" value={{vendor.id}}>{{vendor.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Модель</mat-label>
      <input matInput #modelSearch (blur)="filter('model', modelSearch.value)" (keyup.enter)="filter('model', modelSearch.value)">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Цена, от</mat-label>
      <input matInput type="number" #priceFrom (blur)="filter('priceFrom', priceFrom.value)" (keyup.enter)="filter('priceFrom', priceFrom.value)">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Цена, до</mat-label>
      <input matInput type="number" #priceTo (blur)="filter('priceTo', priceTo.value)" (keyup.enter)="filter('priceTo', priceTo.value)">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Возраст</mat-label>
      <mat-select (selectionChange)="filter('age', $event.value)">
        <mat-option></mat-option>
        <mat-option *ngFor="let age of ages" value={{age.id}}>{{age.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Пол</mat-label>
      <mat-select (selectionChange)="filter('gender', $event.value)">
        <mat-option></mat-option>
        <mat-option *ngFor="let gender of genders" value={{gender.id}}>{{gender.value}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="mode === Mode.Ski">
      <mat-label>Ростовка, от</mat-label>
      <input matInput type="number" #heightFrom (blur)="filter('heightFrom', heightFrom.value)" (keyup.enter)="filter('heightFrom', heightFrom.value)">
    </mat-form-field>
    <mat-form-field *ngIf="mode === Mode.Ski">
      <mat-label>Ростовка, до</mat-label>
      <input matInput type="number" #heightTo (blur)="filter('heightTo', heightTo.value)" (keyup.enter)="filter('heightTo', heightTo.value)">
    </mat-form-field>
    <mat-form-field *ngIf="mode === Mode.Boots">
      <mat-label>Размер, от</mat-label>
      <input matInput type="number" #sizeFrom (blur)="filter('sizeFrom', sizeFrom.value)" (keyup.enter)="filter('sizeFrom', sizeFrom.value)">
    </mat-form-field>
    <mat-form-field *ngIf="mode === Mode.Boots">
      <mat-label>Размер, до</mat-label>
      <input matInput type="number" #sizeTo (blur)="filter('sizeTo', sizeTo.value)" (keyup.enter)="filter('sizeTo', sizeTo.value)">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Сортировка</mat-label>
      <mat-select (selectionChange)="filter('sort', $event.value)">
        <mat-option></mat-option>
        <mat-option *ngFor="let item of sortItems" value={{item.key}}>{{item.value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-grid-list cols="3" rowHeight="450px">
    <mat-grid-tile *ngFor="let model of models" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card" routerLink="/product/{{model.id}}">
        <mat-card-title-group>
          <mat-card-title>
            {{model.vendor}}
          </mat-card-title>
          <mat-card-subtitle>{{model.model}}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content class="dashboard-card-content">
          <div>
            <img src="{{'data:image/jpg;base64,' + model.image}}">
          </div>
          <div>Цена: {{model.price | number}} руб.</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator [length]="totalModels" [pageSize]="3" [hidePageSize]="true" [pageIndex]="pageNumber"
    [showFirstLastButtons]="true" (page)="onPageEvent($event)">
  </mat-paginator>

</div>