.grid-container {
    margin: 1rem;
}

.dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
}

.dashboard-card-content {
    text-align: center;
}

.mat-paginator {
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.search-panel {
    padding: .5rem;
}