<div class="grid-container">
  <h1 class="mat-h1">Категория: {{title}}</h1>
  <div class="search-panel mat-elevation-z8">
    <mat-form-field>
      <mat-label>Производитель</mat-label>
      <mat-select (selectionChange)="filterByVendor($event.value)">
        <mat-option></mat-option>
        <mat-option *ngFor="let vendor of vendors" value={{vendor.id}}>{{vendor.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Модель</mat-label>
      <input matInput #modelSearch (blur)="filterByModelName(modelSearch.value)" (keyup.enter)="filterByModelName(modelSearch.value)">
    </mat-form-field>
  </div>
  <mat-grid-list cols="3" rowHeight="450px">
    <mat-grid-tile *ngFor="let model of models" [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card" routerLink="/product/{{model.id}}">
        <mat-card-title-group>
          <mat-card-title>
            {{model.vendor}}
          </mat-card-title>
          <mat-card-subtitle>{{model.model}}</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content class="dashboard-card-content">
          <div>
            <img src="{{'data:image/jpg;base64,' + model.image}}">
          </div>
          <div>Цена: {{model.price | number}} руб.</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-paginator [length]="totalModels" [pageSize]="3" [hidePageSize]="true" [pageIndex]="pageNumber"
    [showFirstLastButtons]="true" (page)="onPageEvent($event)">
  </mat-paginator>

</div>